# PHP files and folders
/composer.lock
/.bolt.yml
/app/config/*_local.yml
/extensions
/nbproject
/public/files
/public/bolt-public
/public/extensions
/var
/vendor
/public/thumbs
/app/nut
/public/info.php
